{% extends 'base.html.twig' %}

{% block title %}Genus 404{% endblock %}

{% block body %}
    <h2 class="genus-name">404</h2>

    <div class="sea-creature-container">OOps. This is wrong page.</div>

{% endblock %}

